<div class="col-12 col-md-3">
  <div class="card w-100">
      <div class="card-body text-center">
          จำนวนนักเรียน <span class="badge text-bg-primary mx-2"><%= studentQuantity %></span> คน
      </div>
  </div>
</div>