<div class="col-12 col-md-3">
    <div class="card w-100">
        <div class="card-body text-center">
            จำนวนวิชา <span class="badge text-bg-success mx-2"><%= subjectQuantity %></span> วิชา
        </div>
    </div>
</div>