<div class="col-12 col-md-3">
    <div class="card w-100">
        <div class="card-body text-center">
            จำนวนคุณครู <span class="badge text-bg-warning mx-2"><%= subjectQuantity %></span> คน
        </div>
    </div>
</div>